---
import { DoomText } from 'astro-doom-text';

const demoText = ["QUICK BROWN", "FOX", "DA-SH", "BOOKSHELF", "UNDER_SCORE", "?!_-.,:", "lowercase", "mixed CASE", "", "űáőú"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<style>
			body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}

			table {
				width: 100%;
			}
			table, th, td {
				border: 1px solid;
			}
			td {
				padding: 0.5em;
			}
		</style>
	</head>
	<body>
		<h1>Doom Text demo page</h1>
		<table>
			{
				demoText.map(text => {
					return <tr><td><pre>{ `<DoomText text="${ text }"/>` }</pre></td><td><DoomText text={ text }/></td></tr>
				})
			}
			<tr><td><pre>{ `<DoomText text="y"/>` }</pre></td><td><DoomText text="CHONK" scale={ 8 }/></td></tr>
			<tr><td><pre>{ `<DoomText text="y"/>` }</pre></td><td><DoomText text="SMOL" scale={ 1 }/></td></tr>
			<tr><td><pre>{ `<DoomText text="y"/>` }</pre></td><td><DoomText text="SMOL" scale={ 0.1 }/></td></tr>
		</table>
	</body>
</html>
