---
import { DoomText } from 'astro-doom-text';
import { type Fonts } from 'astro-doom-text';

const fonts: Fonts[] = ['doom-small', 'doom-bigfont', 'doom-bigupper', 'doom-nightmare', 'heretic-small', 'heretic-menu', 'zdoom-console', 'dn3d-small', 'dn3d-big', 'dn3d-atomic'];
const demoText = ["QUICK BROWN fox", "DA-SH", "UNDER_SCORE", "?!_-.,:", "lowercase", "mIxEd CaSe", "űáőú", "test@example.com", ""];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Doom Text demo page</title>
		<style>
			body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.8; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}

			table {
				width: 100%;
			}
			table, th, td {
				border: 1px solid;
			}
			td {
				padding: 0.5em;
			}
		</style>
	</head>
	<body>
		<h1>Doom Text demo page</h1>
		<p>
			<a href="http://github.com/ijanos/astro-doom-text/">GitHub</a>
		</p>
		<table>
			<tr><td><pre>{ `<DoomText text="Default scale" scale={ 2 }/>` }</pre></td>
				<td>        <DoomText text="Default scale" scale={ 2 }/></td></tr>

			<tr><td><pre>{ `<DoomText text="SMOL" scale={ 1 }/>` }</pre></td>
				<td>        <DoomText text="SMOL" scale={ 1 }/></td></tr>

			<tr><td><pre>{ `<DoomText text="SMOL" scale={ 0.1 }/>` }</pre></td>
				<td>        <DoomText text="SMOL" scale={ 0.1 }/></td></tr>

			<tr><td><pre>{ `<DoomText text="SMOL" scale={ -1 }/>` }</pre></td>
				<td>        <DoomText text="SMOL" scale={ -1 }/></td></tr>

			<tr><td><pre>{ `<DoomText text="CHONK" scale={ 6 } font='doom-nightmare'/>` }</pre></td>
				<td>        <DoomText text="CHONK" scale={ 6 } font='doom-nightmare'/></td></tr>

			<tr><td><pre>{ `<DoomText text="BigUpper" scale={ 2 } font='doom-bigupper'/>` }</pre></td>
				<td>        <DoomText text="BigUpper" scale={ 2 } font='doom-bigupper'/></td></tr>

			<tr><td><pre>{ `<DoomText text="Heretic small" scale={ 4 } font='heretic-small'/>` }</pre></td>
				<td>        <DoomText text="Heretic small" scale={ 4 } font='heretic-small'/></td></tr>

		</table>
		{
			fonts.map(font => {
				return <h2>{ font }</h2>
				<table>
					{ demoText.map(text => {
						return <tr><td><pre>{ `<DoomText text="${ text }" font="${ font }"/>` }</pre></td><td><DoomText text={ text } font={ font }/></td></tr>
					}) }
				</table>
			})

		}


	</body>
</html>
